# macOS
.DS_Store
*.pem

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.derivedData/
DerivedData/
build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env*.local
.envrc
.direnv

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Xcode user data / Swift legacy
*.xcuserstate
*.xcuserdata/
*.xcresult
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
.swiftpm/configuration/registries.json
.build/
Packages/
Package.pins
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Temporary/editor files
*.swp
*.swo
*~

# cursor
.cursor/
